$white: #FFFFFF !default;
$header: #3577cb !default;
$secondary-background: #e0e0e0 !default;
$highlight: #f5f5f5 !default;
$action-btn: #de732d !default;
$secondary-font-color: #b0b0b0 !default;
$primary-font-color: #212529 !default;